<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/js/code.jquery.com_jquery-3.7.0.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <title>Объявление</title>
</head>
<body>
<div class="container-fluid p-0">
    <header th:insert="blocks/header :: header"></header>
    <div class="container">
        <h1 class="mt-3" th:text="${post.car.model.brand.name + ' ' + post.car.model.name}"></h1>
        <div class="mt-3 mb-3">
            <img class="w-50" th:src="@{/files/{fileId}(fileId=${post.files[0].id})}" alt="Нет фото">
        </div>
        <h3>Характеристики</h3>
        <div class="mb-3">
            <p>Статус объявления: <b th:text="${post.closed ? 'Продано' : 'Новое'}"></b></p>
        </div>

        <div class="mb-3">
            <p>Категория: <b th:text="${post.car.category.name}"></b></p>
        </div>
        <div class="mb-3">
            <p>Марка: <b th:text="${post.car.model.brand.name}"></b></p>
        </div>
        <div class="mb-3">
            <p>Модель: <b th:text="${post.car.model.name}"></b></p>
        </div>
        <div class="mb-3">
            <p>Год выпуска: <b th:text="${post.car.year}"></b></p>
        </div>
        <div class="mb-3">
            <p>Кузов: <b th:text="${post.car.body.name}"></b></p>
        </div>
        <div class="mb-3">
            <p>Двигатель: <b th:text="${post.car.engine.name}"></b></p>
        </div>
        <div class="mb-3">
            <p>Пробег, км: <b th:text="${post.car.mileage}"></b></p>
        </div>
        <div class="mb-3">
            <p>Цена: <b th:text="${post.price}"></b></p>
        </div>
        <div class="mb-3">
            <p>Автор: <b th:text="${post.user.login}"></b></p>
        </div>
        <div class="mb-3">
            <p>Описание: <b th:text="${post.description}"></b></p>
        </div>
        <div class="row justify-content-center mb-3">
            <div class="col-4">
                <a class="btn btn-secondary w-100" th:href="@{/posts/close/{id}(id=${post.id})}">Продано</a>
            </div>
        </div>
    </div>
    <footer th:insert="blocks/footer :: footer"></footer>
</div>
</body>
</html>
